<div class="col-5 mx-auto">
  <h1 class="page-title">ラベルの新規登録</h1>

  <%= link_to '一覧', labels_path, class: 'mb-3 btn btn-outline-primary' %>
  <%= render 'form', label: @label %>
</div><!-- /.col-5 mx-auto -->
