body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font-family: 'YuGothic', 'Yu Gothic', 'Hiragino Kaku Gothic ProN',
    'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', 'ＭＳ ゴシック', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul {
  padding-left: 15px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.page-header {
  background: #233A61;
  padding: 10px 20px;
  color: #fff;
}

.notice {
  width: 600px;
  text-align: center;
  font-size: 18px;
  color: #333;
  margin: 10px auto;
  padding: 10px 0;
  background: orange;
  border-radius: 5px;
}

.page-title {
  margin-top: 20px;
  margin-bottom: 15px;
}

.page-footer {
  margin-top: 50px;
  background: #233A61;
  padding: 10px 20px;
  text-align: center;
}

.page-footer .footer-link {
  color: #fff;
}
